<p>update-account works!</p>
<h3>Update Account</h3>
<div [hidden]="submitted" style="width:400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" required [(ngModel)]="account.firstName">
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" name="lastName" id="lastName" required [(ngModel)]="account.lastName" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">CIN</label>
            <input type="text" name="cin" id="cin" required [(ngModel)]="account.cin" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Account Number</label>
            <input type="text" name="accountNumber" id="accountNumber" required [(ngModel)]="account.accountNumber" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Agency</label>
            <input type="text" name="agency" id="agency" required [(ngModel)]="account.agency" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Amount</label>
            <input type="text" name="amount" id="amount" required [(ngModel)]="account.amount" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">
          submit
        </button>
    </form>
</div>
