<p>account-list works!</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Account List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>Lastname</th>
                    <th>Cin</th>
                    <th>AccountNumber</th>
                    <th>Agencey</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts | async">
                    <td>{{account.id}}</td>
                    <td>{{account.firstName}}</td>
                    <td>{{account.lastName}}</td>
                    <td>{{account.cin}}</td>
                    <td>{{account.accountNumber}}</td>
                    <td>{{account.agency}}</td>
                    <td>{{account.amount}}</td>
                    <td><button (click)="deleteAccount(account.id)" class="btn btn-danger">Delete</button></td>
                    <td><button (click)="accountDetails(account.id)" class="btn btn-info" style="margin-left: 10px;">details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
