<p>create-account works!</p>
<h3>Create Account</h3>
<div [hidden]="submitted" style="width:400px">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Id</label>
            <input type="text" class="form-control" id="id" required [(ngModel)]="account.id" name="id">
        </div>
        <div class="form-group">
            <label for="name">First Name</label>
            <input class="form-control" type="text" name="firstName" id="firstName" required [(ngModel)]="account.firstName">
        </div>
        <div class="form-group">
            <label for="name">Last Name</label>
            <input type="text" class="form-control" id="lastName" required [(ngModel)]="account.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label for="name">Cin</label>
            <input type="text" class="form-control" id="cin" required [(ngModel)]="account.cin" name="id">
        </div>

        <div class="form-group">
            <label for="name">Account Number</label>
            <input type="text" class="form-control" id="accountNumber" required [(ngModel)]="account.accountNumber" name="id">
        </div>

        <div class="form-group">
            <label for="name">Agency</label>
            <input type="text" class="form-control" id="agency" required [(ngModel)]="account.agency" name="id">
        </div>

        <div class="form-group">
            <label for="name">Amount</label>
            <input type="text" class="form-control" id="amount" required [(ngModel)]="account.amount" name="id">
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

<div [hidden]="!submitted">
    <h4>You submitted succesfully!</h4>
</div>
