<p>account-details works!</p>
<h2>Account Details</h2>
<hr/>
<div *ngIf="account">
    <div>
        <label> <b>Id:</b> </label>{{account.id}}
    </div>
    <div>
        <label> <b>First Name</b> </label>{{account.firstName}}
    </div>
    <div>
        <label> <b>Last Name:</b> </label>{{account.lastName}}
    </div>
    <div>
        <label> <b>Cin:</b> </label>{{account.cin}}
    </div>
    <div>
        <label> <b>Number Account:</b> </label>{{account.numberAccount}}
    </div>
    <div>
        <label> <b>Agency:</b> </label>{{account.agency}}
    </div>
    <div>
        <label> <b>Amount:</b> </label>{{account.amount}}
    </div>
</div>
<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Account List</button>
